body,
h3,
h4,
p {
	color: #00203fff;
}

body {
	background-color: #efefe8ff;
}

.jumbotron {
	background-color: lightseagreen;
}

.r2a {
	border: 1px solid lightseagreen;
	border-radius: 0.25rem;
	padding-left: 1rem;
}

.btn-primary {
	background-color: lightseagreen;
}

#buttons-view,
#city-input {
	margin-top: 1rem;
	border: 1px solid lightseagreen;
	border-radius: 0.25rem;
}

.list-group-item {
	background-color: #efefe8ff;
}

.card {
	background-color: lightseagreen;
}

.card-body {
	padding: 0.35rem;
}

.uvGreen {
	background-color: lightgreen;
	border-radius: 5px;
}

.uvYellow {
	background-color: lightyellow;
	border-radius: 5px;
}

.uvOrange {
	background-color: lightsalmon;
	border-radius: 5px;
}

.uvRed {
	background-color: palevioletred;
	border-radius: 5px;
}

.uvPurple {
	background-color: violet;
	border-radius: 5px;
}

img {
	width: 25%;
	height: 25%;
}

.card-text {
	font-size: 10pt;
}

.forcast {
	padding: 1rem;
}